%html
  %head
    %title= 'Partille tennis'
    %link(rel="stylesheet" type="text/css" href= "/style.css")
  %body
    %div{:class => "container"}
      %div{:class => "menu"}
        %h4= "Lagserien"
        %ul
          %li
            %a(href="/lagserien/1") Division 1
          %li
            %a(href="/lagserien/2") Division 2
          %li
            %a(href="/lagserien/3") Division 3

        %h4= "Motionserier"
        %ul
          %li
            %a(href="/motionserier/Damsingel") Damsingel
          %li
            %a(href="/motionserier/Damdubbel?div=1") Damdubbel Div 1
          %li
            %a(href="/motionserier/Damdubbel?div=2") Damdubbel Div 2
          %li
            %a(href="/motionserier/HerrsingelDiv1") Herrsingel Div 1
          %li
            %a(href="/motionserier/HerrsingelDiv2") Herrsingel Div 2
          %li
            %a(href="/motionserier/HerrsingelDiv3") Herrsingel Div 3
          %li
            %a(href="/motionserier/HerrsingelDiv4") Herrsingel Div 4
          %li
            %a(href="/motionserier/Mixeddubbel") Mixeddubbel

      %div{:class => "content"}
        %form{ :action => "", :method => "post"}
          - if defined? teams
            %table
              %tr
                %th= 'Ranking'
                %th= 'Team'
                %th= 'Kontakt'
                %th= 'Telefon'
                %th= 'Epost'
                - teams.each do |team|
                  %tr
                    %td
                      %input{:type => "text", :name => "ranking_" + team[:team_ranking], :value => team[:team_ranking]}
                    %td= team[:team_name]
                    %td= team[:contact]
                    %td= team[:phone]
                    %td= team[:email]
          - if defined? matches
            %hr
            %table
              %tr
                %th= 'Datum'
                %th= 'Tid'
                %th= 'Lag'
                %th= 'Banor'
                - matches.each do |match|
                  %tr
                    %td= match[:date]
                    %td= match[:time]
                    %td= "#{match[:home_team]}-#{match[:away_team]}"
                    %td= match[:lanes]
          %input{:type => "submit", :value => "Send", :class => "button"}
