%html
  %head
    %title= 'Partille tennis'
    %link(rel="stylesheet" type="text/css" href= "/style.css")
  %body
    %div
      %div{:class => "menu"}
        %div
          %a(href="/foretagstennis/1") Division 1
        %div
          %a(href="/foretagstennis/2") Division 2
        %div
          %a(href="/foretagstennis/3") Division 3

      %div{:class => "content"}
        %table
          %tr
            %th= 'Ranking'
            %th= 'Team'
            %th= 'Kontakt'
            %th= 'Telefon'
            %th= 'Epost'
          - teams.each do |team|
            %tr
              %td= team[:team_ranking]
              %td= team[:team_name]
              %td= team[:contact]
              %td= team[:phone]
              %td= team[:email]
        %hr
        %table
          %tr
            %th= 'Datum'
            %th= 'Tid'
            %th= 'Lag'
            %th= 'Banor'
          - matches.each do |match|
            %tr
              %td= match[:date]
              %td= match[:time]
              %td= "#{match[:home_team]}-#{match[:away_team]}"
              %td= match[:lanes]
